/* CSS Document */
body{ 
	margin:0px; 
	padding:0px; 
	font-size:13px;
	background:#FFFFFF; 
	font-family:"Microsoft YaHei";}

ul{ 
	margin:0px; 
	padding:0px;}

ul li{ 
	list-style-type:none;}

a:link {
 	color: #3366cc; /*连接默认的颜色变化*/
 	text-decoration:none;}
	
a:visited {
 	color: #3366cc; /*连接访问的颜色变化*/
 	text-decoration:none;}
	
a:hover {
 	color: #FF9626; /*鼠标经过的颜色变化*/
 	text-decoration:none;}
	
a:active { 
 	color: #3366cc; /*鼠标按下的颜色变化*/
 	text-decoration:none;}

img{ 
	vertical-align:top; 
	border:0px;}

header,section,nav,footer{
	width:320px; 
	margin:auto; 
	background:#FFFFFF;}

.sec_box, .top_banner, .warp_box{ 
	width:320px; 
	margin:auto;}

.top_banner{
	padding-bottom:1px;}

.sec_box{
	background:#FEE6DA; 
	border-top:1px solid #3EA500; 
	border-bottom:2px solid #3EA500; 
	line-height:24px;}

.ts_font{
	display:block; 
	padding:5px;}

.red_font{
	color:#FF0000;}

.sj_list_box{
	display:inline-block; 
	width:100%; 
	padding:10px 0px; 
	background:#FFFFFF;
	 border-bottom:2px solid #3EA500;}

.sj_list{
	float:left; 
	margin:5px 3px;}

.sj_img{
	display:block; 
	border:1px solid #CCCCCC; 
	padding:1px;}

.sj_font{
	display:block; 
	width:100px; 
	background:#EEEEEE; 
	line-height:24px; 
	text-align:center;}

.more_btnbox{
	padding:10px 0px;}

.more_btn{
	display:block; 
	width:320px; 
	margin:auto; 
	line-height:30px; 
	background:#EEEEEE; 
	text-align:center;}

.more_btnbox a:link {
		color: #FF9626; /*连接默认的颜色变化*/
		text-decoration:none;}
		
.more_btnbox a:visited {
		color: #3366cc; /*连接访问的颜色变化*/
		text-decoration:none;}
		
.more_btnbox a:hover {
		color: #FF9626; /*鼠标经过的颜色变化*/
		text-decoration:none;}
		
.more_btnbox a:active { 
		color: #FF9626; /*鼠标按下的颜色变化*/
		text-decoration:none;}


.foot_font{
	text-align:center; 
	line-height:50px; 
	background:#F4F4F4; 
	clear:both;}


.nav_box{ 
	background:#E8E6E7; 
	border-bottom:1px solid #B3B3B3; 
	display:table;}

.fh_btn{
	display:block; 
	float:left;}

.nav_font{
	display:block; 
	float:left; 
	font-size:18px; 
	padding-left:70px; 
	line-height:43px;}

.line_juli{ 
	padding:10px 0px;}

.fl_font{ 
	padding:10px 0px; 
	clear:both; 
	text-indent:10px;}


.fl_font a:link {
		color: #333333; /*连接默认的颜色变化*/
		text-decoration:none;}
		
.fl_font a:visited {
		color: #333333; /*连接访问的颜色变化*/
		text-decoration:none;}
		
.fl_font a:hover {
		color: #FF0000; /*鼠标经过的颜色变化*/
		text-decoration:none;}
		
.fl_font a:active { 
		color: #FF0000; /*鼠标按下的颜色变化*/
		text-decoration:none;}
		
.title_list{
	display:block; 
	width:100%; 
	background:url(../images/front/title_bg.jpg) repeat-x; 
	height:31px; 
	line-height:31px; 
	font-size:14px; 
	text-indent:10px;}

.cdline_box{
	display:inline-block; 
	width:320px; 
	border-top:2px solid #3EA500; 
	border-bottom:2px solid #3EA500;}

.cdline_list{
	display:table;
	margin:auto; 
	width:320px; 
	border-bottom:1px solid #EEEEEE; 
	line-height:30px; 
	padding:5px 0px; 
	clear:both;}

.cdline_list a:link {
		color: #FFFFFF; /*连接默认的颜色变化*/
		text-decoration:none;}
		
.cdline_list a:visited {
		color: #FFFFFF; /*连接访问的颜色变化*/
		text-decoration:none;}
		
.cdline_list a:hover {
		color: #FFFFFF; /*鼠标经过的颜色变化*/
		text-decoration:none;}
		
.cdline_list a:active { 
		color: #FFFFFF; /*鼠标按下的颜色变化*/
		text-decoration:none;}



.cd_font{
	float:left; 
	width:150px; 
	text-indent:10px;}

.cd_jiage{
	float:left; 
	width:50px; 
	text-align:center; 
	color:#FF3333;}

.cd_fs{
	float:left; 
	width:50px;
	text-align:center;}

.xq_btn{
	display:block; 
	float:left; 
	background:#FF9728; 
	width:50px; 
	text-align:center; 
	color:#FFFFFF;}

.xq_btn2{
	display:block; 
	float:left; 
	background:#FF9728; 
	width:50px; 
	text-align:center; 
	color:#FFFFFF;
	margin-right:10px;
	}
	
.dg_btn{
	display:block; 
	float:left; 
	background:#1FB400; 
	width:50px; 
	text-align:center; 
	color:#FFFFFF; 
	margin-left:10px;}

.xqdg_btn{
	display:block; 
	float:left; 
	background:#1FB400; 
	width:50px; 
	text-align:center; 
	color:#FFFFFF;
	line-height:28px;}



.sj_btn{
	display:block; 
	float:left; 
	background:#F80000; 
	width:50px; 
	text-align:center; 
	color:#FFFFFF; 
	margin-left:10px;}

.top_login{ 
	display:inline-block; 
	width:100%; 
	background:#EEEEEE; 
	line-height:30px; 
	padding:5px 0px;}

.linelist{ 
	width:320px; 
	margin:auto; 
	padding:0px; 
	height:2px;
	background:#3EA500;
	overflow:hidden;}

.top_login_font{
	float:left;
	text-indent:10px;}

.top_login a:link {
		color: #FFFFFF; /*连接默认的颜色变化*/
		text-decoration:none;}
		
.top_login a:visited {
		color: #FFFFFF; /*连接访问的颜色变化*/
		text-decoration:none;}
		
.top_login a:hover {
		color: #FFFFFF; /*鼠标经过的颜色变化*/
		text-decoration:none;}
		
.top_login a:active { 
		color: #FFFFFF; /*鼠标按下的颜色变化*/
		text-decoration:none;}

.xgmm_btn{
	display:block; 
	float:left; 
	background:#0195FF; 
	width:70px; 
	text-align:center; 
	color:#FFFFFF; 
	margin-right:10px;}

.logout_btn{
	display:block; 
	float:right; 
	background:#0195FF; 
	width:40px; 
	text-align:center; 
	color:#FFFFFF; 
	margin-right:10px;}

.wdfh_btn{
	display:block; 
	float:right; 
	background:#FFA200; 
	width:70px; 
	text-align:center; 
	color:#FFFFFF; 
	margin-right:10px;}

.sj_title_list{
	display:block; 
	width:100%; 
	background:#EEEEEE; 
	height:31px; 
	line-height:31px; 
	font-size:14px; 
	text-indent:10px;}


.xzline_box{
	display:inline-block; 
	width:100%; }

.cz_btn_box{ 
	display:table;
	width:150px; 
	padding:10px 0px; 
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	clear:both}

.cz_btn_box2{ 
	width:150px; 
	padding:10px 0px; 
	margin:auto;
	display:table;
	line-height:30px;
	clear:both;
	text-align:center;}
.cz_btn_box a:link {
		color: #FFFFFF; /*连接默认的颜色变化*/
		text-decoration:none;}
		
.cz_btn_box a:visited {
		color: #FFFFFF; /*连接访问的颜色变化*/
		text-decoration:none;}
		
.cz_btn_box a:hover {
		color: #FFFFFF; /*鼠标经过的颜色变化*/
		text-decoration:none;}
		
.cz_btn_box2 a:active { 
		color: #FFFFFF; /*鼠标按下的颜色变化*/
		text-decoration:none;}

.cz_btn_box2 a:link {
		color: #FFFFFF; /*连接默认的颜色变化*/
		text-decoration:none;}
		
.cz_btn_box2 a:visited {
		color: #FFFFFF; /*连接访问的颜色变化*/
		text-decoration:none;}
		
.cz_btn_box2 a:hover {
		color: #FFFFFF; /*鼠标经过的颜色变化*/
		text-decoration:none;}
		
.cz_btn_box2 a:active { 
		color: #FFFFFF; /*鼠标按下的颜色变化*/
		text-decoration:none;}
.jxdg_btn{
	display:block; 
	float:left; 
	background:#1FB402; 
	width:70px; 
	text-align:center; 
	color:#FFFFFF; 
	line-height:30px;}
	
.jxdg_btn2{
	display:block; 
	background:#1FB402; 
	width:70px; 
	text-align:center; 
	color:#FFFFFF; 
	margin:auto; 
	line-height:30px;}

.wyxd_btn{
	display:block; 
	float:left;
	background:#FFA200; 
	width:70px; 
	text-align:center; 
	color:#FFFFFF; 
	line-height:30px;}
	

.lcts_font{
	
	display:inline-block; 
	padding:5px; 
	margin-top:10px; 
	line-height:30px; 
	background:#EEEEEE; 
	clear:both;}

.sj_tab{ 
	display:inline-block; 
	width:100%; 
	background:#EEEEEE; 
	line-height:30px; 
	padding:5px 0px; 
	border-top:1px solid #B3B3B3;}

.sj_tab a{
	display:block; 
	float:left; 
	border:1px solid #B3B3B3; 
	margin:0px 5px 0px 10px; 
	padding:0px 10px; 
	line-height:30px; 
	text-align:center; 
	background:#FFFFFF;}

.sj_tab a:link{ 
	color:#333333;}

.sj_tab a:visited{ 
	color:#333333;}

.sj_tab a:hover{
	background:#EEEEEE; 
	color:#FF0000;}

.sj_tab a:active{
	background:#EEEEEE; 
	color:#FF0000;}

.xg_jianju{
	width:60px; 
	float:left;}

.wyxg_btn{
	display:block; 
	background:#FFA200; 
	width:70px; 
	text-align:center; 
	color:#FFFFFF; 
	margin:auto;  
	line-height:30px;}

.wyxg_btn_disable{
	display:block; 
	background:#C0C0C0; 
	width:70px; 
	text-align:center; 
	color:#FFFFFF; 
	margin:auto;  
	line-height:30px;}

.ewm_box{
	padding:10px; 
	text-align:center;}

.xzqtsj_btn{
	display:block;
	border:1px solid #B3B3B3; 
	width:107px;}

.sj_logo{
	display:block; 
	border:1px solid #CCCCCC; 
	padding:1px; 
	margin-left:10px; 
	float:left;}

.sj_xiangqing{
	display:block; 
	float:left; 
	margin-left:10px; 
	line-height:24px;}

.big_font{ 
	font-size:14px;}


.shjia_dgbox{
	display:block; 
	float:left;}

.shjia_dgbox a:link, .shjia_dgbox a:visited, .shjia_dgbox a:hover, .shjia_dgbox a:active{ 
	color:#FFFFFF;}

.shjia_xzbox{
	display:block; 
	float:left; 
	margin-left:5px;}

.cdxq_line_box{
	display:inline-block; 
	width:300px; 
	border-top:2px solid #3EA500; 
	border-bottom:2px solid #3EA500;  
	line-height:24px; 
	padding:10px;
	word-wrap : break-word;
	word-break:break-all;
	}

.hqmm_btn{
	display:block; 
	float:left; 
	background:#FFA200; 
	width:90px; 
	text-align:center; 
	color:#FFFFFF; 
	margin-right:10px; 
	line-height:30px;}

.dl_btn{
	display:block; 
	float:left; 
	background:#0096FF; 
	width:90px; 
	text-align:center; 
	color:#FFFFFF; 
	margin-right:10px; 
	line-height:30px;}

.login_box{
	width:280px; 
	margin:auto;}

.login_line{
	padding:10px 0px; 
	display:inline-block;}

.login_line_L{
	width:70px; 
	float:left; 
	line-height:30px; 
	text-align:right;}

.login_line_R{
	width:200px; 
	float:left;}

.login_cz_btn a:link, .login_cz_btn a:visited, .login_cz_btn a:hover, .login_cz_btn a:active{
	color:#FFFFFF;}

.login_ts_font{
	display:block; 
	padding:10px; 
	line-height:24px; 
	clear:both;}
	
.czts_font{padding:30px 0px; margin:auto; width:280px; line-height:40px; color:#FF0000; font-size:14px; text-align:center; }
	
	